.plato-del-dia {
    h2{
      font-family: fantasy;  
      padding: 50px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    h5{
        padding: 20px;
    }  
}