*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#eslogan {
    padding-top: 90px;
    
}

#eslogan p {
    padding-top: 70px ;
}

nav h2 {
    color: rgb(248, 247, 247);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(246, 246, 246);
    list-style-type:none;
    font-family: sans-serif;
}
nav {
    background-color: rgb(31, 31, 31);
    height: 100%;
}

.promos {
    display: flex;
}

.titulo-promo {
    display: block;
    align-items: center;
}

@media screen and(max-width:480px) {
    main {
    grid-template-areas:
    "menu1"
    "menu2"
    "menu3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
 @media screen (min-width:481px)and(max-width:768) {
    
 }   